#imagnary_container {
  padding-top: 15px;
}
body {
  background: url("../images/bg.png") no-repeat fixed;
  background-size: 100%;
}


.main-header{
  position: fixed; left: 0; top:auto; height: 50px; width: 100%;background: rgba(161, 161, 161, 0.19);-webkit-box-shadow:0 0 10px rgba(41, 41, 41, 0.11);
  color: white;

  div{
    position: absolute; top: 15px; left: 10px;
  }
  h4{
    margin-top:4%;font-weight: normal;
  }
}