/*下面的样式是播放器的样式*/
.spinner-wrap {
  display: block;
  width: 327px;
  height: 327px;
  position: relative;
  left: 50%;
  margin-left: -163px;
  top: 0;
  top: 19px;
  .spinner-outer {
    @include playerbox(327px,327px);
    display: block;
    margin-left: -163px;
    border-radius: 50%;
    background: url("../../dist/images/spinner-outer.png") center center no-repeat #32302e;
  };
  .spinner-center {
    @include playerbox(200px,200px);
    top: 50%;
    border-radius: 50%;
    background: url("../../dist/images/spinner-center.png") center center no-repeat;
    margin: -99px;
    pointer-events: none;
  };
  .play-sprite {
    @include playerbox(70px,70px);
    top: 50%;
    margin: -35px 0 0 -35px;
    background: url("../../dist/images/play-sprite.png") 0px 0px no-repeat;
  }
}
.playing {
  .play-sprite {
    background-position: 0px -70px;
  }
}
.playing {
  .spinner-outer {
    animation:spin-cw 5s linear infinite;
  }
}
.playing {
  .spinner-center {
    animation:spin-ccw 5s linear infinite;
  }
}
/* Keyframes */
@include keyframes(spin-cw){
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@include keyframes(spin-ccw){
  0% {
    transform:rotate(360deg);
  }
  100% {
    transform:rotate(0deg);
  }
}

/*下面的样式是详细信息的样式*/
.play-time {
  margin-top: 54px;
  color: #fff;
}
.play-title {
  color: #fff;
}



.share-button {
  font-size: 40px;
  color: #fff;
  span {
    margin-left: 2em;
    margin-top: 1em;
  }

}
/*下面的样式是详细信息的样式*/
.play-time {
  margin-top: 54px;
  color: #fff;
}
.play-title {
  color: #fff;
}
.share-button {
  font-size: 40px;
  color: #fff;
  span {
    margin-left: 2em;
    margin-top: 1em;
  }

}
