.full-screen{
  position: fixed;
  left: 0 ;top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: block;
}

#my-recorder{
  background: #292929;
}

#recording-submit{
  background: #ffffff;
}

.timer{
  margin-top: 40%;
  margin-left: 38%;
  i{
    color: white;margin-left: 16%;
  }
}

.control-banner{
  border-top: 3px solid #737373;
  background: #292929;
  height: 40%;
  width: 100%;
  position: absolute;
  bottom:0;
  float: none;
  display: block;
}

.top-banner{
  //background: #f7e1b5;
  height: 60%;
  // position: absolute;
  top: 80px;
  //float: none;
  //display: block;
}

.record-playing{
  width: 80px;
  height: 80px;
  background: red;
  margin-top: 70%;
  margin-left: 10%;
  border-radius: 100%;
  //display: inline;
}

.record-option{
  width: 80px;
  height: 80px;
  margin-top: 70%;
  margin-left: 10%;
  border-radius: 100%;

  i{
    margin-left: 26.5%;margin-top: 16%;color: #fff
  }

}




.submit-content{
  padding-top: 50px;

  input{
    width: 100%;
    border: none;

  }

  input:focus{
    border: none;
    box-shadow: none;
    outline:none;
  }

  textarea{
    width: 100%;
    border: none;
    outline:none;
  }

}

.submit-bottom-border{
  border-bottom: 1px solid rgba(192,192,192,0.5);
}

.submit-title{
  height: 190px; padding: 20px 10px 20px 10px ;
}

.submit-description{
  border-bottom: 1px solid rgba(192,192,192,0.5);height: 200px;
}

.submit-header{
  position: fixed; top:auto; height: 50px; width: 100%;background: #f7f7f7;-webkit-box-shadow:0 0 10px rgba(161,161,161,0.56);
  div{
    position: absolute; top: 15px; left: 10px;
  }
  h4{
    margin-top:4%;font-weight: normal;
  }
}

.displayRecorderButton {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 75px;
  height: 75px;
  background: rgba(91, 192, 222, 0.8);
  border-radius: 100%
}

#submit-avatar{
  width: 60px;margin-top: 29px;
  height: 60px;
  background: url('../../dist/images/heart.jpg');
  background-size: 100%;
}
