<template>
    <div class="row" id="music_player">


        <div class="row">

            <div class="col-xs-12">
                <div class="spinner-wrap" :class="{playing:isPlaying}"
                     @click="playmusic">
                    <div class="spinner-outer"></div>
                    <div class="spinner-center"></div>
                    <div class="play-sprite"></div>
                </div>

                <audio :src="data.field_recording_audio_content[0].value" ref="audioElm" id="audio-player"></audio>

                <!--<audio ref="audioElm"-->
                <!--loop="loop" data-bpm="86">-->
                <!--<source src="/dist/songs/123.mp3" type="audio/mp3" />-->
                <!--</audio>-->

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-center play-time">00:{{ show_curentTime }}</h3>
                    </div>
                    <div class="col-xs-12">
                        <h3 class="text-center  play-title">{{ data.title[0].value }}</h3>
                    </div>

                    <div class="col-xs-12">
                        <h5 class="text-center  play-title">{{ data.field_recording_description[0].value }}</h5>
                    </div>

                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-6 share-button">-->
                        <!--<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6 share-button">-->
                        <!--<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
        <!--<pre> nid is {{ $route.params.id }}</pre>-->
    </div>




</template>

<script>

    export default{
        data(){
            return {
                isPlaying:false,
                data:null,
                audio : null,
                event_init:false,
                current_time:0,
                interval_id:null
            }
        },
        mounted(){
            console.log('player loaded');

            this.getData();

        },
        computed:{
            show_curentTime(){
                if (this.current_time < 10){
                    return '0'+this.current_time;
                }
                else{
                    return this.current_time;
                }
            }
        },
        http: {

            headers: {
                'Accept': 'application/hal+json'
            }
        },
        methods:{
            playmusic: function () {

                this.audio = this.$refs.audioElm;
                this.addEvent();

                //console.log(this.audio);
                this.isPlaying = !this.isPlaying;
                if(this.audio.paused === false){
                    this.audio.load();
                    this.audio.currentTime = 0;
                } else {
                    this.audio.play();
                }
            },
            getData(){
                this.$http.get(MonkeyConfig.BaseUrl+'node/'+this.$route.params.id+'?_format=hal_json').then((response) => {
                    this.data = response.data;

                }).catch(function (response) {
                    alert('读取音频失败：'+response.data.message);

                }).finally(function(){
//                    this.is_updating=false
                });

            },

            addEvent(){
                if (!this.event_init){
                   // alert('init');
                    this.audio.addEventListener("canplay", () => {

                    });

                    this.audio.addEventListener("ended",() => {
                        this.isPlaying = false;
                        clearInterval(this.interval_id);
                        this.current_time = 0;
                        //alert('ended');

                    });

                    this.audio.addEventListener('play', ()=>{

                        this.interval_id = setInterval(() => {this.current_time = parseInt(this.audio.currentTime)}, 100);
                       // alert('playing');

                    });
                    this.event_init = true;
                }

            }
            
        },
//        watch: {
//            '$route' (to, from) {
//
//                console.log(to);
//            }
//        }
    }

</script>