<template>
    <div id="my-recorder" class="full-screen" >
        <div class="row top-banner">
            <div class="col-xs-4 timer">

                <!--<h2 style="color: white;">{{ has_recording }} {{ is_playing }}</h2>-->

                <div v-if="(has_recording && is_playing) || !has_recording">
                    <h2 style="color: white">00:{{ clock_num }}</h2>
                </div>
                <div v-else>
                    <h2  style="color: #ffffff; margin-left: 14.5%;">{{ duration }}"</h2>
                </div>
                <i v-if="has_recording && !is_playing"   class="fa fa-2x" :class="playing_attr"
                   @click="playRecording" ></i>
                <i v-if="is_playing"   class="fa fa-2x " :class="playing_attr"
                   @click="pauseRecording" ></i>
            </div>
        </div>

        <div class="row-fulid control-banner" >

            <div class="col-xs-4">
                <div class="record-option" @click="closeRecorder">

                    <i class="fa fa-4x fa-remove" ></i>
                </div>
            </div>
            <div class="col-xs-4"  @click="RecordBtn">
                <div class="record-playing" v-if="!is_recording">
                    <i class="fa fa-4x fa-microphone" style="margin-left: 26.5%;margin-top: 16%;color: #fff" ></i>
                </div>
                <div class="record-playing" v-if="is_recording">
                    <i class="fa fa-3x fa-stop" style="margin-left: 28.5%;margin-top: 24%;color: #fff" ></i>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="record-option" @click="submitRecording">
                    <i class="fa fa-4x fa-check" style="margin-left: 13.5%;margin-top: 16%;color: #fff" ></i>
                </div>
            </div>

            <!--<div class="record-confirm"  ></div>-->
        </div>


        <router-view :recordingData="audio"></router-view>

    </div>
</template>

<script>

    export default{
        data(){
            return {
                audio : document.querySelector('audio'),
                recorder:null,
                is_recording:false,
                has_recording:false,
                is_playing:false,
                paused:false,
                interval_id:null,
                clock_num:0,
                playing_attr:'fa-play',
                duration:null
            }
        },
        mounted(){
           console.log('recorder loaded') ;
            //监听当音频准备好
            this.audio.addEventListener("canplay", () => {
                // alert('can play');
                this.startclock();
                //alert(this.audio.duration);
                this.clock_num = parseInt(this.audio.duration);
            });

            this.audio.addEventListener("ended",() => {
               // alert('ended');
                this.is_playing = false;
                this.clock_num = 0;
                this.playing_attr = 'fa-play';
                this.stopclock(this.interval_id);
            });

            this.audio.addEventListener('play', ()=>{
                //alert();
                if (this.clock_num > 0)
                    this.startclock(this.clock_num);
                else
                    this.startclock();
            })
        },
        methods:{

            RecordBtn(){
                if (this.is_recording)
                    this.stopRecord();
                else
                    this.startRecord();
            },
            startRecord(){
                this.has_recording = false;

                HZRecorder.get((rec) => {
                    this.recorder = rec;
                    this.recorder.start();
                    this.is_recording = true;
                    this.startclock()
                });

            },
            stopRecord(){
                this.recorder.stop();
                this.recorder.getBlob( (dataurl) => {
                    this.audio.src = dataurl;

                });
                this.is_recording = false;
                clearInterval(this.interval_id);
                this.has_recording = true;
                this.playing_attr = 'fa-play';
                this.duration = this.clock_num;
            },
            playRecording(){
                this.clock_num = 0;
                this.is_playing = true;
                this.playing_attr = 'fa-pause';
                this.stopclock(this.interval_id);
                this.recorder.play(this.audio);
                this.is_recording = false;
                //this.startclock();

            },
            pauseRecording(){
                if (!this.paused){
                    this.audio.pause();
                    this.paused = true;
                    this.stopclock(this.interval_id);
                    this.playing_attr = 'fa-play';
                }
                else{
                    this.audio.play();
                    this.paused = false;
                    //this.startclock(this.clock_num);
                    this.playing_attr = 'fa-pause';
                }

            },

            closeRecorder(){
                if (this.recorder)
                    this.stopRecord();
                this.$router.push('/main');

                //alert();
                //bus.$emit('display_recorder', false);
            },
            submitRecording(){
                if (this.recorder)
                    this.stopRecord();
                if (this.audio.src)
                    this.$router.push('/main/recorder/submit');
                else
                    alert('请录一段音频');
                //bus.$emit('recording_data', this.audio.src);
            },
            startclock(num = 0){
                this.clock_num = num;
                this.interval_id = setInterval(this.clock, 1000);
            },

            stopclock(interval_id){
                clearInterval(interval_id);
            },
            clock(){
                this.clock_num ++;
            }
        }
    }
</script>