<template>
    <div id="recording-submit" class="full-screen">

        <div class="submit-header">
            <div @click="goBack">返回</div>
            <h4 align="center">发布音频</h4>
        </div>

        <div class="row-fluid submit-content" >

            <div class="row-fluid" style="margin-top: 130px;" v-show="success">
                <div class="col-xs-12">
                    <h3>发布成功！</h3>
                    <p>赶快分享给你朋友吧！</p>
                    <a class="btn btn-info btn-block" @click="goBack">返回首页</a>
                    <a class="btn btn-info btn-block" @click="goAudio(return_nid)">我的录音</a>
                </div>

            </div>

            <div v-show="!success">
                <div class="col-xs-12 submit-bottom-border submit-title" >
                    <div class="row-fluid">
                        <div class="col-xs-3" >
                            <div id="submit-avatar" ></div>
                        </div>
                        <div class="col-xs-9" style="padding: 50px 0">
                            <input type="text" class="" placeholder="起个标题吧" style="border: none;" v-model="submit_data.title"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 submit-bottom-border submit-description" >
                <textarea name="" id="" cols="30" rows="9" class="" placeholder="写一点话吧"
                          style="border: none;margin-top: 5px" v-model="submit_data.description"></textarea>
                </div>
                <div class="col-xs-12" style="margin-top: 5px;">
                    <button class="btn btn-info btn-block" style="outline:none;" @click.prevent="postRecording">发布音频</button>
                </div>
            </div>

        </div>


        <!--<pre>-->
            <!--{{ submit_data }}-->
        <!--</pre>-->


    </div>
</template>

<script>

    export default{

        props:
        {
            recordingData:{
                type:String,
                required: true
            }
        }

        ,
        http: {

            headers: {
                'Accept': 'application/hal+json',
                'Content-type': 'application/hal+json',
            }
        },

        data(){
            return {
                submit_data:{
                    title:null,
                    description:null,
                    audio_content:this.recordingData.src,
                    duration:parseInt(this.recordingData.duration)
                },
                success:false,
                return_nid:null

            }
        },



        methods:{
            createRecording(){
                return {
                    "_links":{
                        "type": {
                            "href":MonkeyConfig.BaseUrl+"rest/type/node/recordings"
                        }
                    },
                    "title":[{
                        "value":this.submit_data.title
                    }],

                    "field_recording_audio_content":[{
                        "value":this.submit_data.audio_content
                    }],
                    "field_recording_description":[{
                        "value":this.submit_data.description
                    }],
                    "field_recording_duration":[{
                        "value":this.submit_data.duration
                    }]
                };
            },
            postRecording(){
                console.dir(JSON.stringify(this.createRecording()));
                this.$http.post(MonkeyConfig.BaseUrl+'entity/node', this.createRecording() )
                    .then((response) => {
                        MonkeyStorage.flush();
                        //this.success = true;
                        console.log(response.data.nid[0].value);
                        this.return_nid = response.data.nid[0].value;
                        this.goAudio(this.return_nid);
                    })
                    .catch(function (response) {
                       alert(response.data.message);

                    }).finally(function(){
//                    this.is_updating=false
                });

            },
            goBack(){
                this.$router.push('/main');
            },
            goAudio(nid){
                this.$router.push('/player/nid/' + nid);
            },
            startclock(num = 0){
                this.clock_num = num;
                this.interval_id = setInterval(this.clock, 1000);
            },

            stopclock(interval_id){
                clearInterval(interval_id);
            },
            clock(){
                this.clock_num ++;
            }
        }

    }

</script>