<template>

    <div class="row">
        <div class="col-xs-12">
                <audio :src="audio_content"  id="main-audio-player"></audio>

                <div v-if="recording_list"><autocomplete :suggestions="recording_list" :selection.sync="value"></autocomplete></div>

                <div>

                    <div class="row-fluid" >
                        <div class="col-xs-12" style="border: 1px solid #f2f2f2;margin-top: 5px;border-radius: 1%;color: #f5f5f5;" v-for="item in recording_list" >
                            <div class="row-fluid" >
                                <div class="col-xs-10" @click="goPlayer(item.nid)">
                                    <div style="margin-top: 10px;">{{ item.title }}</div>
                                    <div style="margin-top: 10px;"><p>{{ item.field_recording_duration }}s</p></div>
                                </div>
                                <div class="col-xs-1">
                                    <i class="fa fa-2x" :class="main_play_class" style="margin-top: 20px;" @click="playAudio(item.nid, $event)"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>


        <router-view></router-view>

        <!--<recorder v-show="show_recorder"></recorder>-->
        <submitRecording :recordingData="recording_data" v-if="recording_data"></submitRecording>

        <div class="displayRecorderButton"
             @click="displayRecorder">
            <i class="fa fa-3x fa-plus" style="color: white;margin:22% 0 0 29%;"></i>
        </div>





    </div>
</template>

<script>
    export default {

        components:{
            'autocomplete' : require('../vue-autocomplete.vue'),
            'recorder' : require('../recorder/recorder.vue'),
            'submitRecording' : require('../recorder/submit.vue'),
        },

        computed:{
            audio_content(){

                if (this.audiodata){
                    return this.audiodata.field_recording_audio_content[0].value;
                }
                else
                    return ''

            }
        },

        data () {
            return {
                recording_list: null,
                value: '',
                show_recorder:false,
                recording_data:null,
                audiodata:null,
                main_play_class:'fa-play',
                is_created:false
            }
        },
        created(){
            bus.$on('display_recorder', this.displayRecorder);
            bus.$on('recording_data', this.RecordingData);
            bus.$on('flush_data', this.getList);
            this.is_created = true

        },
        mounted(){
            //alert('mounted');
            this.getList();

        },

        methods: {
            getList(){

                this.$http.get(MonkeyConfig.BaseUrl+'api/recordings?_format=hal_json').then((response) => {
                    //alert('flush');
                    this.recording_list = response.data;
                });
                //this.recording_list = MonkeyStorage.getStorage();
            },

            displayRecorder(boolean = true){
                if (boolean){
                    this.$router.push('/main/recorder');
                }
                this.show_recorder = boolean;
            },

            RecordingData(recording_data){
                this.recording_data = recording_data;
            },
            goPlayer(nid){
                this.$router.push('/player/nid/' + nid);
                //window.location.href = '/#/player/nid/'+nid;
            },
            playAudio(nid, event){
                this.main_play_class = 'fa-play';

                //alert(event.target.className);
                this.$http.get(MonkeyConfig.BaseUrl+'node/'+nid+'?_format=hal_json').then((response) => {
                    this.audiodata = response.data;
                    //event.target.className = 'fa fa-2x fa-pause';
                    //this.main_play_class = 'fa-pause';
                }).catch(function (response) {
                    alert('读取音频失败：'+response.data.message);

                }).finally(function(){
//                    this.is_updating=false
                });
            }
        },
        watch: {
            '$route' (to, from) {

                if (from.path == '/main/recorder/submit' ){
                    //alert('get');
                    this.getList();
                }

               // alert(from);
               // console.log(from);
            }
        }
    }
</script>
